<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>AdminSystem</display-name>
  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ListPendingMerchantServlet</display-name>
    <servlet-name>ListPendingMerchantServlet</servlet-name>
    <servlet-class>ui.ListPendingMerchantServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListPendingMerchantServlet</servlet-name>
    <url-pattern>/listPendingMerchant</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowMerchantServlet</display-name>
    <servlet-name>ShowMerchantServlet</servlet-name>
    <servlet-class>ui.ShowMerchantServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowMerchantServlet</servlet-name>
    <url-pattern>/showMerchant</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AcceptMerchantServlet</display-name>
    <servlet-name>AcceptMerchantServlet</servlet-name>
    <servlet-class>ui.AcceptMerchantServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AcceptMerchantServlet</servlet-name>
    <url-pattern>/acceptMerchant</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RejectMerchantServlet</display-name>
    <servlet-name>RejectMerchantServlet</servlet-name>
    <servlet-class>ui.RejectMerchantServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RejectMerchantServlet</servlet-name>
    <url-pattern>/rejectMerchant</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListAllMerchantsServlet</display-name>
    <servlet-name>ListAllMerchantsServlet</servlet-name>
    <servlet-class>ui.ListAllMerchantsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListAllMerchantsServlet</servlet-name>
    <url-pattern>/listAllMerchants</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FreezeMerchantServlet</display-name>
    <servlet-name>FreezeMerchantServlet</servlet-name>
    <servlet-class>ui.FreezeMerchantServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FreezeMerchantServlet</servlet-name>
    <url-pattern>/freezeMerchant</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UnfreezeMerchantServlet</display-name>
    <servlet-name>UnfreezeMerchantServlet</servlet-name>
    <servlet-class>ui.UnfreezeMerchantServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UnfreezeMerchantServlet</servlet-name>
    <url-pattern>/unfreezeMerchant</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>ui.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>ui.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowHomeServlet</display-name>
    <servlet-name>ShowHomeServlet</servlet-name>
    <servlet-class>ui.ShowHomeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowHomeServlet</servlet-name>
    <url-pattern>/showHome</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>sendMqMsg</display-name>
    <servlet-name>sendMqMsg</servlet-name>
    <servlet-class>test.sendMqMsg</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>sendMqMsg</servlet-name>
    <url-pattern>/mq</url-pattern>
  </servlet-mapping>
</web-app>