<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>AdminSystem</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ListPendingMerchantServlet</display-name>
    <servlet-name>ListPendingMerchantServlet</servlet-name>
    <servlet-class>ui.ListPendingMerchantServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListPendingMerchantServlet</servlet-name>
    <url-pattern>/listPendingMerchant</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowMerchantServlet</display-name>
    <servlet-name>ShowMerchantServlet</servlet-name>
    <servlet-class>ui.ShowMerchantServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowMerchantServlet</servlet-name>
    <url-pattern>/showMerchant</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>acceptMerchantServlet</display-name>
    <servlet-name>acceptMerchantServlet</servlet-name>
    <servlet-class>ui.acceptMerchantServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>acceptMerchantServlet</servlet-name>
    <url-pattern>/acceptMerchant</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>rejectMerchantServlet</display-name>
    <servlet-name>rejectMerchantServlet</servlet-name>
    <servlet-class>ui.rejectMerchantServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>rejectMerchantServlet</servlet-name>
    <url-pattern>/rejectMerchant</url-pattern>
  </servlet-mapping>
</web-app>