@CHARSET "ISO-8859-1";

@keyframes msgAnimation {
    from {
    	opacity: 1;
    	display: block;
    }
    to {
    	opacity: 0;
    	display: none;
	}
}
@-webkit-keyframes msgAnimation {
    from {
    	opacity: 1;
    	display: block;
    }
    to {
    	opacity: 0;
    	disply: none;
	}
}

#errorMsg {
    position: absolute;
    width: 200px;
    height: 100px;
    background-color: red;
    color: white;
    
    animation-name: msgAnimation;
    animation-duration: 2s;
    animation-delay: 4s;
    animation-fill-mode: forwards;  
    -webkit-animation-name: msgAnimation;
    -webkit-animation-delay: 4s;
   	-webkit-animation-duration: 2s;
   	-webkit-animation-fill-mode: forwards; 
}

#succMsg{
	position: absolute;
    width: 200px;
    height: 100px;
    background-color: green;
    color: white;
    
    animation-name: msgAnimation;
    animation-duration: 2s;
    animation-delay: 4s;
    animation-fill-mode: forwards; 
     
    -webkit-animation-name: msgAnimation;
    -webkit-animation-delay: 4s;
   	-webkit-animation-duration: 2s;
   	-webkit-animation-fill-mode: forwards;
}

.centre{
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}