<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>CustomerSystem</display-name>
  <welcome-file-list>
    <welcome-file>viewAllMerchant</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ViewAllMerchantServlet</display-name>
    <servlet-name>ViewAllMerchantServlet</servlet-name>
    <servlet-class>ui.ViewAllMerchantServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewAllMerchantServlet</servlet-name>
    <url-pattern>/viewAllMerchant</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoadMerchantServlet</display-name>
    <servlet-name>LoadMerchantServlet</servlet-name>
    <servlet-class>ui.LoadMerchantServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoadMerchantServlet</servlet-name>
    <url-pattern>/loadMerchant</url-pattern>
  </servlet-mapping>
</web-app>